.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App,#root,html,body,.container{
  height: 100%;
}
body{
  font-family: 'General Sans';
}
.questionDiv
{
  position: relative;
  background: rgb(237, 232, 227);
}
.progressBar {
  width: 350px;
  height: 36px;
  padding: 10px;
  background: #F4F3F6;
  border-radius: 16px;
}
.progressBar div{
  background: #31CD63;
  border-radius : 16px;
  width: 10%;
  height: 12px;
}
.questionNo{
  font-weight: 600;
  font-size: 24px; 
  line-height: 24px;
}
.optionDiv:has(.radio-check:checked){
  background: #31CD63;
}
.quiz-question{
 
  width: 690px;
  height: 76px;
 text-align: center;

  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  /* or 136% */


  color: #191D63;
}
.optionDiv{
  font-family: General Sans;
  font-weight: 600;
  height: 81px;
  padding: 30px;
  text-align: left;
  background: #F4F3F6;
  border-radius: 8px;
}
.float-left{
  float: left!important;
}
.float-right{
  float: right!important;
}
.right-btn{
  position: relative;
  bottom: 70px;
  right: 20px;
}
.left-btn{
  position: relative;
  bottom: 70px;
  left: 20px;
}
a{text-decoration: none;}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
